.item-detail-section {
  width: 100%;
  background: #fafafa;
  padding-bottom: 1.8rem;

  .detail-section {
    width: 100%;
    height: 7.77rem;
    background: #fff;

    .detail-wrap {
      width: 13rem;
      max-width: 13rem;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .breadcumb-tab {
        width: 100%;
        font-size: .14rem;
        font-family: Helvetica;
        color: #666666;
        line-height: .42rem;
        display: flex;
        align-items: center;
        a {
          color: #666666;
        }
        span {
          margin: 0 .05rem;
        }
      }

      .item-detail {
        width: 100%;
        height: 7.2rem;
        margin-top: .16rem;
        display: flex;
        justify-content: space-between;

        .item-detail-left {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;

          .item-detail-title {
            width: 100%;
            .info-title {
              max-width: 11rem;
              color: #333333;
              display: flex;
              flex-direction: column;
              margin-bottom: 0.1rem;
              div {
                font-size: .3rem;
                font-family: 'Helvetica-Bold';
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              span {
                font-size: .2rem;
                // font-weight: bold;
              }
            }
          }

          .item-detail-wrap {
            width: 100%;
            display: flex;

            .item-img-wrap {
              display: flex;
              flex-direction: column;

              .main-img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
                margin-bottom: .12rem;
              }

              .item-img-list {
                display: flex;
                align-items: center;

                img {
                  width: .8rem;
                  height: .8rem;
                  object-fit: cover;
                  border: 1px solid #eeeeee;
                  cursor: pointer;
                }
              }
            }

            .item-info-wrap {
              width: 6.1rem;
              margin-left: .35rem;

              .info-details {
                display: flex;
                flex-direction: column;

                .goods-info {
                  font-size: 0.16rem;
                  font-family: 'Helvetica';
                  color: #333333;
                  line-height: .42rem;

                  label {
                    width: 1.5rem;
                    display: inline-block;
                    font-family: 'Helvetica-Bold';
                    font-weight: bold;
                  }
                }

                .goods-info-extra {
                  font-size: .14rem;
                  line-height: .42rem;
                  color: #999999;
                }
              }

              .info-price {
                width: 100%;
                height: 1.3rem;
                display: flex;
                align-items: center;
                border-top: 1px solid #EEEEEE;
                border-bottom: 1px solid #EEEEEE;
                overflow: hidden;

                .price-item {
                  display: flex;
                  flex-direction: column;
                  font-size: .14rem;
                  color: #999999;
                  font-family: 'Helvetica';
                  line-height: .32rem;
                  >div {
                    white-space: nowrap;

                    span {
                      color: #333333;
                    }
                  }

                  .line-3 {
                    font-size: .24rem;
                    color: #E73B4B;
                  }

                  &:not(:last-child) {
                    margin-right: .5rem;
                  }
                }
              }
            }
          }

          .item-detail-share {
            width: 100%;
            margin-top: .32rem;
            display: flex;
            align-items: center;

            .share-btns {
              width: 4rem;
              font-size: .16rem;
              font-family: Helvetica;
              color: #555555;
              display: flex;
              align-items: center;

              .share-btns-wrap {
                display: flex;
                align-items: center;
                margin-left: .14rem;
                a {
                  margin-right: .09rem;
                  position: relative;
                  img {
                    width: .3rem;
                    object-fit: cover;
                    &:last-child {
                      position: absolute;
                      top: 0;
                      left: 0;
                      opacity: 0;
                      z-index: 1;
                      transition: all 0.3s ease-in;
                    }
                  }

                  &:hover img:last-child {
                    opacity: 1;
                  }
                }
              }
            }

            .info-btns {
              display: flex;
              align-items: center;
              margin-left: .35rem;

              .default-btn {
                border-color: #e73b4b;
                color: #e73b4b;
              }

              button {
                width: 2rem;
                height: .4rem;
                border-radius: .2rem;
                font-size: 0.16rem;

                &:not(:last-child) {
                  margin-right: 0.2rem;
                }
              }
            }

          }
        }


        .item-detail-right {
          display: flex;
          flex-direction: column;
          overflow: hidden;

          .headline {
            font-size: .16rem;
            font-family: 'Helvetica-Bold';
            font-weight: 600;
            color: #333333;
            margin-bottom: .12rem;
          }

          .may-like {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .like-item {
              img {
                width: 1.44rem;
                height: 1.44rem;
                object-fit: cover;
                margin-bottom: .1rem;
              }

              .like-price {
                font-family: 'Helvetica-Bold';
                font-weight: bold;
                color: #333333;
                font-size: .16rem;
                text-align: right;
              }

              &:not(:last-child) {
                margin-bottom: .3rem;
              }

              &:nth-child(n + 4) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .note-section {
    width: 13rem;
    max-width: 13rem;
    margin: 0 auto;
    padding: .4rem 0 1rem;

    > .ant-tabs-card {
      font-size: .16rem;

      > .ant-tabs-bar {
        border-bottom: 1px solid #DDDDDD;
      }

      > .ant-tabs-bar .ant-tabs-tab {
        height: .56rem;
        margin-right: .04rem;
        padding: 0 .38rem;
        border: 1px solid #DDDDDD;
        background: #EEEEEE;
        color: #555555;
        font-family: 'Helvetica-Bold';
        font-weight: bold;
        font-size: .2rem;
      }

      > .ant-tabs-bar .ant-tabs-tab-active {
        height: .56rem;
        color: #333333;
        border-color: #DDDDDD;
        border-bottom: 1px solid #FFF;
        background: #FFF;
      }

      .ant-tabs-content {
        margin-top: -16px;

        > .ant-tabs-tabpane {
          background: #FFF;
          padding: .39rem .39rem .47rem;
          border: 1px solid #dddddd;
          border-top: none;
        }
      }
    }

    .note-tab {
      .note-info {
        padding-top: .2rem;
        .title {
          font-size: .2rem;
          font-weight: bold;
          padding-bottom: .1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .item-detail-section {
    .detail-section {
      .detail-wrap {
        .breadcumb-tab {
          font-size: 14px;
        }

        .item-detail {
          .item-detail-left .item-info-wrap {
            .info-title {
              div {
                font-size: 23px;
              }
              span {
                font-size: 17px;
              }
            }

            .info-price {
              .price-item {
                font-size: 12px;
                .line-3 {
                  font-size: 18px;
                }
              }
            }

            .info-details {
              .goods-info {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.email-txt {
  font-size: 16px;
  font-weight: 500;
  color: #e73b4b;
}
