.item-section {
  width: 100%;
  height: 100%;
  background: #fafafa;
  padding-bottom: 1rem;

  .item-wrap {
    width: 13rem;
    max-width: 13rem;
    margin: .2rem auto;
    display: flex;

    .item-list-box {
      width: 9.8rem;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-left: .2rem;

      .list-item {
        width: 2.3rem;
        height: 3.28rem;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        margin-bottom: .2rem;

        &:not(:nth-child(4n)) {
          margin-right: .2rem
        }

        .list-item-img {
          width: 2.3rem;
          height: 2.3rem;
          object-fit: cover;
          // transition: transform ease 0.3s;
          // &:hover {
          //   cursor: pointer;
          //   transform: scale(1.02);
          // }
        }

        .list-item-info {
          height: .98rem;
          padding: .19rem .2rem .15rem;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .info-detail {
            color: #777777;
            font-size: .14rem;
            font-family: Helvetica;
            overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: normal;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
          }

          .info-price {
            font-size: .16rem;
            color: #e73b4b;
            font-family: 'Helvetica-Bold';
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .item-section {
    .item-wrap {
      .item-list-box {
        .list-item .list-item-info {
          .info-detail {
            font-size: 12px;
          }

          .info-price {
            font-size: 12px;
          }
        }
      }
    }
  }
}
